screens:
  -
    id: clock
    screen_name: clock
    display_name: Word Clock
  -
    id: weather
    screen_name: weather
    display_name: Weather
    args:
      lat: "40.725686"
      lon: "-73.944226"
  -
    id: gym_count
    screen_name: gym_count
    display_name: Gym Count
  -
    id: spotify_dave
    screen_name: spotify
    display_name: Spotify (Dave)
    args:
      username: dave
  -
    id: subway
    screen_name: subway
    display_name: Subway
  -
    id: who_chooses
    screen_name: who_chooses
    display_name: Who Chooses
  -
    id: citibike
    screen_name: citibike
    display_name: Citibike
    args:
      station_id: "3108"
      station_name: Nassau Ave
  -
    id: color_test
    screen_name: color_test
    display_name: Color Test
  -
    id: coffee_timer
    screen_name: coffee_timer
    display_name: Coffee Timer
schedule:
  -
    cron: "* 7-9 * * 0,2,4"
    screens_ids:
      - weather
      - gym_count
      - clock
  -
    cron: "* 7-9 * * 1,3"
    screens_ids:
      - weather
      - subway
      - citibike
      - clock
  -
    cron: "0 10 * * 0-4"
    screens_ids:
      - clock