[Unit]
Description=LED Display

[Service]
WorkingDirectory=/home/pi/display
ExecStart=sudo -E uv run display.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
