[Unit]
Description=LED Display

[Service]
WorkingDirectory=/home/pi/display
ExecStart=/home/pi/.local/bin/uv run --no-dev display.py
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
