<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- PWA Tags -->

  <link rel="manifest" href="manifest.json" />

  <!-- iOS -->
  <meta name="apple-mobile-web-app-title" content="Tidbyt" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <!-- Startup Image  -->
  <link href="touch-icon-start-up-320x480.png" rel="apple-touch-startup-image" />

    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles/w95.css" />
    <link rel="stylesheet" href="/static/styles/app.css" />
    <!-- <script src="/static/js/jquery.js" async></script> -->
    <!-- <script src="/static/js/w95.js" async></script> -->

  <!-- Styles -->
  <link rel="stylesheet" href="/static/styles/w95.css" />
  <link rel="stylesheet" href="/static/styles/app.css" />
  <script src="/static/js/jquery.js" async></script>
  <script src="/static/js/w95.js" async></script>

  <body>
    <!-- Grid of icons -->
    <main>
      <div class="app-grid">
        {% for screen in screens %}
        <div class="screen-launch">
          <div class="app-icon"></div>
          <p class="app-label">{{screen}}</p>
        </div>
        {% endfor %}
      </div>
    </main>

    <footer>
      <button class="btn btn-sm mr-2 mb-2 btn-primary" type="button">
        <div class="start-icon">
					<!-- <img src="/static/assets/my-computer.png" alt=""> -->
				</div>
        <span class="btn-text">Start</span>
      </button>
    </footer>

    <!-- Start menu -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
      <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
        <li class="nav-item">
          <a href="../index.html" class="nav-link" role="button">
            <span class="nav-link-inner-text">📺 Start</span>
          </a>
        </li>
      </ul>
      <div class="time text-center">
        <span class="time text-uppercase">1:47 PM</span>
      </div>
    </nav> -->

    <!-- <form action="/turn_off_screen" method="post">
        <input type="submit" name="turn_off" value="Turn Off" />
      </form> -->
  </body>
</html>
