/* @font-face {
  font-family: "VT323";
  src: url("/static/fonts/VT323/VT323-Regular.woff2") format("woff2");
} */

html {
  background-color: #008282;
}

.app-grid {
  display: grid;
  grid-template-columns: 175px 175px;
  gap: 50px 0;
  padding: 60px 10px 0 10px;
}

.app-label {
  font-size: 1rem;
  margin: 0;
  margin-top: 0.4rem;
}

.screen-launch {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: transparent;
  border: none;
}

.app-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url("/static/assets/my-computer.png");
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 8px 8px 8px 8px;
  background-color: #c0c0c0;
}

.start-btn {
  display: flex;
  width: 120px;
  height: 50px;
  max-height: 50px;
  align-items: center;
  height: 50px !important;
  padding: 0px 8px 0px 0px !important;
  font-family: "Windows 95";
  font-size: 18px;
}

.start-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url("/static/assets/start-icon.svg");
  background-size: contain;
}

.clock {
  line-height: 48px;
  font-size: 15px;
  box-shadow: inset -2px -2px 0px #f0f0f0, inset 2px 2px 0px #7e7e7e;
  width: 100px;
  height: 48px;
  text-align: center;
}
